<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <app-topnav></app-topnav>
            //<app-alert></app-alert>
            
            <div class="row">
                <div class="col-md-3">
                    <app-sidenavbar></app-sidenavbar>
                </div>
                <div class="col-md-9 padding-top: 500px">
                   
                    <!-- <button class="btn btn-light" (click)="postData()">Post Data</button> -->
                    <!-- <app-texts></app-texts> -->
                    <router-outlet></router-outlet>
                    <!-- <div *ngFor="let txt of apiData">
                        <h6><p>{{txt.headline}}</p></h6>
                        <p>{{txt.category}}</p>
                        <p>{{txt.body}}</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>