
<div id="mySidebar" [style.width.px]="width" class="sidebar">
    <a style="cursor: pointer;" class="closebtn" (click)="closeNav()">×</a>
    <a (click)="navigate('texts')" style="cursor: pointer;">Text</a>
    <a (click)="navigate('')" style="cursor: pointer;">Photos</a>
    <a (click)="navigate('report')" style="cursor: pointer;">Reports</a>
    <a (click)="navigate('about')" style="cursor: pointer;">About us</a>
    <a (click)="navigate('terms')" style="cursor: pointer;">Terms & conditions</a>
    <a (click)="navigate('privacy')" style="cursor: pointer;">Privacy</a>
    <a (click)="navigate('contact')" style="cursor: pointer;">Contact</a>
  </div>
  
  <div id="main" [style.width.px]="width">
    <button class="openbtn" (click)="openNav()">☰ Menu</button>     
  </div>